.picone{
	height: 40%;
	width: 60%;

}
#counter{
height: 40%;
	width: 15%;
	margin-left: 45%;	
	padding-left: 30px;
	background-color: cyan;
font-size: 40px;
}
#delete{
	background-color: red;
}